<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input  id="username" formControlName="username"/>
    <div *ngIf="form.controls['username'].hasError('required')">Username is required.</div>
    <div *ngIf="form.controls['username'].hasError('minLength')">Username must be 3 characters length.</div>
  </div>
  <div>
    <label for="email">Username:</label>
    <input  id="email" formControlName="email"/>
    <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
    <div *ngIf="form.controls['email'].hasError('required')">Email is required.</div>
    <div *ngIf="form.controls['email'].hasError('email')">Invalid email.</div>
    </div>
  </div>
  </form> -->


  <p>Стандартний параграф футера </p>
